{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if method=="post" %}
          <h1>Mensagem enviada com sucesso!</h1>
          {% else: %}
          <h1>Emtre em contato</h1>
          {% endif %}
          <span class="subheading">Perguntas? Posso ter respostas</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
 {% if method == "get" %}
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>
              Preencha os campos abaixo com sua mensagem que entrarei em contato o mais breve possível!
            </p>
            <div class="my-5">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * Simplified SB Contact Form for the Tutorial* *-->
              <form
                id="contactForm"
                name="sentMessage"
                action="{{ url_for('contact') }}"
                method="post"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Insira seu nome..."
                    required
                  />
                  <label for="name">Nome</label>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="email"
                    name="email"
                    type="email"
                    placeholder="Insira seu e-mail..."
                    required
                  />
                  <label for="email">Endereço de e-mail</label>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="phone"
                    name="phone"
                    type="tel"
                    placeholder="Insira seu número de telefone..."
                    required
                  />
                  <label for="phone">Telefone</label>
                </div>
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    id="message"
                    name="message"
                    placeholder="Insira sua mensagem aqui..."
                    required
                    style="height: 12rem"
                  ></textarea>
                  <label for="message">Mensagem</label>
                </div>
                <br />
                <button
                  class="btn btn-danger text-uppercase"
                  id="submitButton"
                  type="submit"
                >Enviar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endif %}

{% include "footer.html" %}
